[metadata]
name = flask-autho-validator
version = 1.0.0
author = Justin Jaro
author_email = info@VLTMedia.com
url = https://github.com/vltmedia/flask-autho-validator
description = Basic Flask Auth0 validator to secure your endpoints. .
long_description = file: README.md
long_description_content_type = text/markdown
license = Apache License 2.0
[tool.setuptools.packages]
find = {flask-autho-validator}  # Scan the project directory with the default parameters

install_requires=[            # I get to this in a second
        'authlib',
    ],
[options]
packages = find:
